div.content {
  height: auto;
  background-color: $background-color;
  margin-top: 75px;
  &.billboard {
    margin-top: 0;
  }

  @include breakpoint(tablet) {
    min-height: calc(100vh - 4.375rem);
  }

  .box {
    width: 40%;
    margin: 15rem auto;
    @include alpha-background-color(rgba(black, 0.9), white);
    height: auto;
    text-align: center;
    padding: 1.5rem;
    h2 {
      color: white;
      font-weight: 300;
    }

    p {
      color: white;
      margin: 0 0 3rem 0;
    }

    .cta {
      background: $primary-color;
      text-align: center;
      width: 60%;
      padding: 1rem;
      color: #f7f7f7;
      display: block;
      margin: 3rem auto 0 auto;
      text-decoration: none;

      &:hover {
        background: #454545;
      }
    }
  }

}

div.article-list, div.article-home {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;

  .thumb {
    background-size: cover;
    background-position: center center;
    min-height: 100%;
  }
  article {

      h3 {
        margin-left:0;
      }

      a.bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
        background: white;
        padding: 3px 3px 0 3px;
        font-size: 1.4rem;
        z-index: 5;

        &:hover, &.active {
          background: $primary-color;
          color: white;
        }
      }

    .dateDisplay {
      position: absolute;
      top: 10px;
      left: 10px;
    }

      height: 200px;
      position: relative;
      background-color: white;
      margin: 0 2rem 3rem 2rem;
      transition: all .25s;

    @include breakpoint(tablet) {
      height: 250px;
      cursor: pointer;
      width: calc(50% - 4rem);
      max-width: calc(50% - 4rem);
      float: left;

    }

    @include breakpoint(laptop) {
      width: calc(33.3% - 4rem);
      max-width: calc(33.3% - 4rem);
    }

    &:hover {
      box-shadow: 0 2px 6px rgba(0,0,0,1);

    }

    .grad {
      background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.9));
      width:100%;
      height: 100%;
      position: absolute;
      bottom: 0;
    }
    .article-copy {
      position: absolute;
      bottom: 0;
      color: white;
      padding: 10px;
    }
  }
}

div.article-home {
  margin-top: 0;
}

.article-header {
  height: auto;
  overflow: hidden;

  p {
    margin-bottom: 0;
    color: #616161;
  }

  h2 {
    margin-top: 5px;
  }
}



@include breakpoint(mobileonly) {
  .container {
    width: 100%
  }

  div.article-list {
    display: inline;
    article {
      max-width: 100%;
      width: 100%
    }
  }
}

.dateDisplay {
  display: none;
}

@include breakpoint(tablet) {
  .dateDisplay {
    color: black;
    display: inline;
    text-decoration: none;
    background: white;
    min-width: 46px;
    min-height: 36px;
    width: 36px;
    text-align: center;
    border: 1px $grey-border solid;
    border-radius: 10%;
    padding: 5px 0;
    float: left;
    margin-right: 15px;
    span {
      color: #f13a59;
      font-size: 2.4rem;
      display: block;
      line-height: 2rem;
    }
  }
}