.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  transition: .3s;
  cursor: pointer;
  border-radius: 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .5px;
  z-index: 1;
  /* Button size classes */
}
.btn:focus {
  box-shadow: none;
}
.btn-sm {
  font-size: 12px;
  padding: 17.5px 27.5px;
}
.btn-md {
  font-size: 14px;
  padding: 22px 32.5px;
}
.btn-lg {
  font-size: 18px;
  padding: 28px 64.5px;
}
.btn-black {
  color: #fff;
  background: #000;
}
.btn-black:hover,
.btn-black:focus {
  color: #fff;
  background: #ff0000;
}
.btn-white {
  color: #000000;
  background: #FFF;
}
.btn-white:hover,
.btn-white:focus {
  color: #fff;
  background: #000;
}
.btn-red {
  color: #fff;
  background: #ff0000;
}
.btn-red:hover,
.btn-red:focus {
  color: #fff;
  background: #000;
}
.btn-b {
  color: #fff;
  background: #000;
}
.btn-b:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 1px;
  width: 11px;
  background: #fff;
  transition: .3s;
  z-index: -1;
}
.btn-b:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 11px;
  width: 1px;
  background: #fff;
  transition: .3s;
  z-index: -1;
}
.btn-b:hover {
  color: #fff;
  background: #ff0000;
}
.btn-w {
  color: #000;
  background: #fff;
}
.btn-w:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 1px;
  width: 11px;
  background: #ff0000;
  transition: .3s;
  z-index: -1;
}
.btn-w:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 11px;
  width: 1px;
  background: #ff0000;
  transition: .3s;
  z-index: -1;
}
.btn-w:hover {
  color: #fff;
  background: #000;
}
.btn-r {
  color: #fff;
  background: #ff0000;
}
.btn-r:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 1px;
  width: 11px;
  background: #fff;
  transition: .3s;
  z-index: -1;
}
.btn-r:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 11px;
  width: 1px;
  background: #fff;
  transition: .3s;
  z-index: -1;
}
.btn-r:hover {
  color: #fff;
  background: #000;
}
.btn--border-b {
  color: #000;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}
.btn--border-b:hover,
.btn--border-b:focus {
  color: #ff0000;
  border-color: #ff0000;
}
.btn--border-w {
  color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
}
.btn--border-w:hover,
.btn--border-w:focus {
  color: #000000;
  border-color: #000000;
}
.btn--border-r {
  color: #ff0000;
  border-width: 2px;
  border-style: solid;
  border-color: #ff0000;
}
.btn--border-r:hover,
.btn--border-r:focus {
  color: #000000;
  border-color: #000000;
}
.btn--animate-b:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 1px;
  width: 11px;
  background: #fff;
  transition: .3s;
  z-index: -1;
}
.btn--animate-b:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 11px;
  width: 1px;
  background: #fff;
  transition: .3s;
  z-index: -1;
}
.btn--animate-b:hover {
  background: #000000;
  color: #000000;
}
.btn--animate-b:hover:before {
  width: calc(100% - 20px);
}
.btn--animate-b:hover:after {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
.btn--animate-w:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 1px;
  width: 11px;
  background: #ff0000;
  transition: .3s;
  z-index: -1;
}
.btn--animate-w:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 11px;
  width: 1px;
  background: #ff0000;
  transition: .3s;
  z-index: -1;
}
.btn--animate-w:hover {
  background: #ffffff;
  color: #ffffff;
}
.btn--animate-w:hover:before {
  width: calc(100% - 20px);
}
.btn--animate-w:hover:after {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
.btn--animate-r:before {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 1px;
  width: 11px;
  background: #ffffff;
  transition: .3s;
  z-index: -1;
}
.btn--animate-r:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 10px;
  height: 11px;
  width: 1px;
  background: #ffffff;
  transition: .3s;
  z-index: -1;
}
.btn--animate-r:hover {
  background: #ff0000;
  color: #ff0000;
}
.btn--animate-r:hover:before {
  width: calc(100% - 20px);
}
.btn--animate-r:hover:after {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
.btn--arrow {
  padding: 0 2px 1px 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #ff0000;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn--arrow-icon {
  margin-left: 7px;
  font-size: inherit;
  line-height: inherit;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  transition: .3s;
}
.btn--arrow-icon:before {
  content: '\f105';
  font-family: 'FontAwesome';
}
.btn--arrow-r {
  color: #ff0000;
  border-color: #ff0000;
}
.btn--arrow-r:hover {
  color: #ff0000;
}
.btn--arrow-b {
  color: #000000;
  border-color: #000000;
}
.btn--arrow-b:hover {
  color: #000000;
}
.btn--arrow-w {
  color: #ffffff;
  border-color: #ffffff;
}
.btn--arrow-w:hover {
  color: #ffffff;
}
.btn--arrow:hover {
  border-color: transparent;
}
.dropdown-toggle::after {
  display: inline-block;
  content: "\f107";
  position: absolute;
  top: 20px;
  font-family: 'FontAwesome';
  color: inherit;
  width: 0;
  height: 0;
  margin-left: 0;
  vertical-align: 0;
  border: none;
  right: 8px;
}
.dropdown-menu {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: .3s;
  top: calc(100% + 5px);
  margin: 0;
  padding: 12px 0;
  border-radius: 0;
  background: #000;
  min-width: 161px;
}
.dropdown-menu li {
  width: 100%;
  margin: 0;
}
.dropdown-menu li a {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  padding: 6px 21px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.dropdown-menu li a:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  opacity: 0;
  transition: .35s ease;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropdown-menu li a:hover,
.dropdown-menu li a.active {
  color: #ff0000;
}
.dropdown-menu li a:hover:after,
.dropdown-menu li a.active:after {
  opacity: 1;
  width: 10px;
}

.location-box {

}