/* 15. WRAPPER CREATIVE AGENCY. THIS WRAPPER PLACED ON PAGE 'home1.php' */
.wrapper-octane {
  /* 15.1 SECTION WELCOME */
  /* 15.2 SECTION WHY US */
  /* 15.3 SECTION ABOUT TEMPLATE */
  /* 15.4 SECTION LATEST NEWS */
  /* 15.5 SECTION VIDEO PRESENTATION */
  /* 15.6 SECTION OUR CLIENTS */
  /* 15.7 SECTION OUR TEAM */
  /* 15.8 SECTION MAP */
}
.wrapper-octane .header-bottom {
  margin-bottom: 25px;
}
.wrapper-octane .section-welcome {
  height: 870px;
  background: url('http://via.placeholder.com/1920x870');
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-octane .section-welcome-title {
  margin-top: 300px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -3px;
  text-transform: uppercase;
}
.wrapper-octane .section-welcome-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.3px;
  margin-top: 19px;
  padding: 0px 98px 0 0px;
}
.wrapper-octane .section-welcome-btn {
  margin-top: 28px;
}
.wrapper-octane .section-welcome .btn-md {
  padding: 22px 29.5px;
}
.wrapper-octane .section-why-us {
  padding: 125px 0 130px;
}
.wrapper-octane .section-why-us-block {
  text-align: left;
}
.wrapper-octane .section-why-us-block img {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-octane .section-why-us-block--title {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  vertical-align: middle;
  font-size: 20px;
}
.wrapper-octane .section-why-us-block--text {
  padding: 0;
}
.wrapper-octane .section-why-us-row:not(:last-child) {
  margin-bottom: 45px;
}
.wrapper-octane .section-why-us-btn {
  margin-top: 15px;
}
.wrapper-octane .section-why-us .btn-md {
  padding: 22px 42.5px;
}
.wrapper-octane .section-about-template {
  height: 809px;
  background: url('http://via.placeholder.com/1920x809');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 125px;
  overflow: visible;
}
.wrapper-octane .section-about-template-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1px;
}
.wrapper-octane .section-about-template .circles {
  display: block;
  margin-bottom: 55px;
  padding-top: 5px;
}
.wrapper-octane .section-about-template-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  letter-spacing: -0.3px;
}
.wrapper-octane .section-about-template img {
  margin-top: 40px;
}
.wrapper-octane .section-latest-news {
  padding: 285px 0 105px;
  text-align: center;
}
.wrapper-octane .section-latest-news h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000;
  font-size: 36px;
  letter-spacing: -1px;
}
.wrapper-octane .section-latest-news .circles {
  display: block;
  padding-top: 5px;
  margin-bottom: 120px;
}
.wrapper-octane .section-latest-news-block {
  border: 2px solid #dfe7ea;
  padding: 18px 18px 50px;
  position: relative;
}
.wrapper-octane .section-latest-news-block-btn {
  margin-top: 50px;
  color: #ff0000;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: transparent;
  padding: 0 0 1px;
  font-size: 15px;
}
.wrapper-octane .section-latest-news-block-btn:hover,
.wrapper-octane .section-latest-news-block-btn:focus {
  border-color: #ffa3a3;
}
.wrapper-octane .section-latest-news-link {
  display: block;
  line-height: 0;
  position: relative;
  margin-top: -80px;
  height: 248px;
  transition: 0.3s ease-out;
}
.wrapper-octane .section-latest-news-link-1 {
  background: url('http://via.placeholder.com/330x248');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-latest-news-link-2 {
  background: url('http://via.placeholder.com/330x248');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-latest-news-link-3 {
  background: url('http://via.placeholder.com/330x248');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-latest-news-link:hover {
  background-blend-mode: darken;
  background-color: rgba(255, 0, 0, 0.8);
}
.wrapper-octane .section-latest-news-title {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 1.17;
  position: relative;
  padding-bottom: 17px;
}
.wrapper-octane .section-latest-news-title:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background: #ff0000;
  bottom: 0;
}
.wrapper-octane .section-latest-news-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
  padding: 0;
  letter-spacing: -0.3px;
}
.wrapper-octane .section-latest-news-btn {
  margin-top: 60px;
}
.wrapper-octane .section-latest-news .btn-md {
  padding: 22px 42.5px;
}
.wrapper-octane .section-video-presentation {
  height: 540px;
  background: url('http://via.placeholder.com/1920x540');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}
.wrapper-octane .section-video-presentation-play {
  display: inline-block;
  width: 126px;
  height: 126px;
  text-align: center;
  background: #ffffff;
  border-radius: 50%;
  margin-top: 120px;
  padding-left: 10px;
  color: #ff0000;
}
.wrapper-octane .section-video-presentation-play:before {
  content: '\f04b';
  font-family: 'FontAwesome';
  line-height: 126px;
  font-size: 30px;
  color: inherit;
}
.wrapper-octane .section-video-presentation-play:hover,
.wrapper-octane .section-video-presentation-play:focus {
  background: #000;
  color: #ffffff;
}
.wrapper-octane .section-video-presentation-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  line-height: 1;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}
.wrapper-octane .section-video-presentation-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.625;
  margin-top: 15px;
  letter-spacing: -0.3px;
}
.wrapper-octane .section-our-clients {
  text-align: center;
  padding: 125px 0 125px;
}
.wrapper-octane .section-our-clients-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000;
  font-size: 36px;
  letter-spacing: -1px;
}
.wrapper-octane .section-our-clients .circles {
  display: block;
  padding-top: 5px;
  margin-bottom: 55px;
}
.wrapper-octane .section-our-clients-row {
  margin: 23px 0;
}
.wrapper-octane .section-our-team {
  padding: 125px 0 105px;
  height: 833px;
  background: url('http://via.placeholder.com/1920x833');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.wrapper-octane .section-our-team-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1px;
}
.wrapper-octane .section-our-team .circles {
  display: block;
  padding-top: 5px;
  margin-bottom: 55px;
}
.wrapper-octane .section-our-team-block {
  height: 460px;
  display: block;
  position: relative;
  z-index: 1;
}
.wrapper-octane .section-our-team-block--1 {
  background: url('http://via.placeholder.com/270x460');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-our-team-block--2 {
  background: url('http://via.placeholder.com/270x460');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-our-team-block--3 {
  background: url('http://via.placeholder.com/270x460');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-our-team-block--4 {
  background: url('http://via.placeholder.com/270x460');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper-octane .section-our-team-block:hover .section-our-team-caption {
  padding-bottom: 37px;
}
.wrapper-octane .section-our-team-socials {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  text-align: center;
  width: 40px;
  height: 81px;
  padding: 13px 0;
  background: #000;
}
.wrapper-octane .section-our-team-item {
  display: block;
}
.wrapper-octane .section-our-team-item:not(:first-child) {
  margin-top: 12px;
}
.wrapper-octane .section-our-team-link {
  font-size: 19px;
  color: #ffffff;
}
.wrapper-octane .section-our-team-link:hover {
  color: #ff0000;
}
.wrapper-octane .section-our-team-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 18px 13px;
  background: #ff0000;
  transition: .3s;
}
.wrapper-octane .section-our-team-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  line-height: 1;
}
.wrapper-octane .section-our-team-job {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  margin-top: 5px;
}
.wrapper-octane .section-map {
  height: 465px;
  width: 100%;
  overflow: hidden;
}

.row {
  margin: 1rem 0;
}