.socials {
  display: inline-block;
   li {
     display: inline-block;
     a {
       color: #ff0000;
       font-size: 18px;
       &:hover,
       &:focus {
         color: #000;
       }
     }
   &:not(:last-child) {
     margin-right: 6px;
   }
   }
}
.socials--title {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 14px;
}
.socials-red li a {
  color: #ff0000;
}
.socials-red li a:hover,
.socials-red li a:focus {
  color: #000;
}
.socials-white li a {
  color: #ffffff;
}
.socials-white li a:hover,
.socials-white li a:focus {
  color: #ff0000;
}
.socials-black li a {
  color: #000;
}
.socials-black li a:hover,
.socials-black li a:focus {
  color: #ff0000;
}
.circles {
  transition: .3s;
  display: inline-block;
}
.circles li {
  display: inline-block;
  vertical-align: middle;
}
.circles li span {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
.circles li:not(:last-child) {
  margin-right: 3px;
}
.circles--black li span {
  background: #000;
}
.circles--white li span {
  background: #ffffff;
}
.circles--red li span {
  background: #ff0000;
}