.eventDetailsWrapper {
  position: relative;
  color: black;

  p {
    font-size: 1.5rem;
  }

  div.content {
    max-width: 100%;
    margin-top: 20px;
    @include breakpoint(tablet) {
      margin-top: 80px;
      max-width: 55%;
    }
  }
}


.moreDetailsPane {
  background: white;
  width: 100%;
  padding: 2rem;
  float: left;

  @include breakpoint(tablet) {
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
    border: 1px #ccc solid;
    padding: 2rem;
  }

  a {
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    background: $primary-color;
    color: white;
    float: left;

    &:hover {
      text-decoration: none;
      background: #7f7f7f;
    }
  }

  .googleMap {
    margin: 2rem 0 0 0;
    float: left;
    width: 100%;
    a {
      background: transparent;
    }
  }
}