/* 14. SECTION FOOTER */
.footer {
  text-align: center;
}
.footer-top {
  padding: 80px 0;
  background: #000;
}
.footer-top-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.375;
  letter-spacing: -0.3px;
}
.footer-top--logo {
  margin-bottom: 20px;
  display: inline-block;
}
.footer-top .circles {
  margin-top: 20px;
}
.footer-top .socials {
  display: block;
  margin-top: 45px;
}
.footer-top .socials li:not(:last-child) {
  margin-right: 38px;
}
.footer-top .socials li a {
  color: #ffffff;
}
.footer-top .socials li a:hover,
.footer-top .socials li a:focus {
  color: #ff0000;
}
.footer-bottom {
  background: #1e1e1e;
}
.footer-bottom-privacy {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 30px;
}
.footer-style1 .footer-top {
  background: #ffffff;
}
.footer-style1 .footer-top .socials li a {
  color: #000;
}
.footer-style1 .footer-top .socials li a:hover,
.footer-style1 .footer-top .socials li a:focus {
  color: #ff0000;
}
.footer-style1 .footer-top-text {
  color: #000;
}
.footer-style2 .footer-top {
  background: #ff0000;
}
.footer-style2 .footer-top .socials li a {
  color: #ffffff;
}
.footer-style2 .footer-top .socials li a:hover,
.footer-style2 .footer-top .socials li a:focus {
  color: #000;
}
.footer-style2 .footer-top-text {
  color: #ffffff;
}