.header-top .layout {
  padding: 10px 0;
  position: relative;
}
.header-top .layout:before {
  position: absolute;
  content: '';
  width: 363px;
  height: 1px;
  left: 0;
  right: auto;
  top: 50%;
  background: #dfe7ea;
}
.header-top .layout:after {
  position: absolute;
  content: '';
  width: 363px;
  height: 1px;
  left: auto;
  right: 0;
  top: 50%;
  background: #dfe7ea;
}
.header-top .layout .link--mail {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 14px;
}
.header-top .layout .divider {
  padding: 0 5px;
}
.header-top .layout .divider hr {
  width: calc(100% + 25px);
  height: 1px;
  border: none;
  background: #dfe7ea;
  position: relative;
}
.header-top .layout .divider hr:before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #dfe7ea;
}
.header-top .layout .divider hr:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #dfe7ea;
}
.header-top .socials {
  padding-left: 10px;
}
.header-bottom--logo {
  display: inline-block;
}
.header-style1 {
  background: #ffffff;
}
.header-style1 .header-top .layout:before {
  background: #dfe7ea;
}
.header-style1 .header-top .layout:after {
  background: #dfe7ea;
}
.header-style1 .header-top .layout .link--mail {
  color: #000;
}
.header-style1 .header-top .layout .divider hr {
  background: #dfe7ea;
}
.header-style1 .header-top .layout .divider hr:before {
  background: #dfe7ea;
}
.header-style1 .header-top .layout .divider hr:after {
  background: #dfe7ea;
}
.header-style1 .header-bottom {
  padding-bottom: 25px;
}
.header-style1 .header-bottom .navbar {
  position: relative;
  z-index: auto;
}
.header-style2 {
  background: #ffffff;
  box-shadow: 0 16px 16px -16px rgba(192, 199, 202, 0.5);
}
.header-style2 .header-top .layout:before {
  background: #dfe7ea;
}
.header-style2 .header-top .layout:after {
  background: #dfe7ea;
}
.header-style2 .header-top .layout .link--mail {
  color: #000;
}
.header-style2 .header-top .layout .divider hr {
  background: #dfe7ea;
}
.header-style2 .header-top .layout .divider hr:before {
  background: #dfe7ea;
}
.header-style2 .header-top .layout .divider hr:after {
  background: #dfe7ea;
}
.header-style2 .header-bottom {
  padding-bottom: 25px;
}
.header-style2 .header-bottom .navbar {
  position: relative;
  z-index: auto;
}
.header-style3 {
  background: url('http://via.placeholder.com/1920x149');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-style3 .header-top .layout:before {
  background: #ffffff;
}
.header-style3 .header-top .layout:after {
  background: #ffffff;
}
.header-style3 .header-top .layout .link--mail {
  color: #ffffff;
}
.header-style3 .header-top .layout .divider hr {
  background: #ffffff;
}
.header-style3 .header-top .layout .divider hr:before {
  background: #ffffff;
}
.header-style3 .header-top .layout .divider hr:after {
  background: #ffffff;
}
.header-style3 .header-top .socials--title {
  color: #ffffff;
}
.header-style3 .header-bottom {
  padding-bottom: 25px;
}
.header-style3 .header-bottom .navbar-expand-md .navbar-nav li .nav-link {
  color: #ffffff;
}
.header-style3 .header-bottom .navbar-expand-md .navbar-nav li .nav-link:hover,
.header-style3 .header-bottom .navbar-expand-md .navbar-nav li .nav-link:focus {
  color: #ff0000;
}
.header-style3 .header-bottom .navbar {
  position: relative;
  z-index: auto;
}
.header-style3 .header-bottom .navbar-expand-md .navbar-nav li .nav-link {
  color: #ffffff;
}
.header-style3 .header-bottom .navbar-expand-md .navbar-nav li .nav-link ul li .nav-link-circle {
  background: #ffffff;
}
.header-style4 {
  background: #000;
}
.header-style4 .header-top .layout:before {
  background: #ffffff;
}
.header-style4 .header-top .layout:after {
  background: #ffffff;
}
.header-style4 .header-top .layout .link--mail {
  color: #ffffff;
}
.header-style4 .header-top .layout .divider hr {
  background: #ffffff;
}
.header-style4 .header-top .layout .divider hr:before {
  background: #ffffff;
}
.header-style4 .header-top .layout .divider hr:after {
  background: #ffffff;
}
.header-style4 .header-top .socials--title {
  color: #ffffff;
}
.header-style4 .header-bottom {
  padding-bottom: 25px;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav li .nav-link {
  color: #ffffff;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav li .nav-link:hover,
.header-style4 .header-bottom .navbar-expand-md .navbar-nav li .nav-link:focus {
  color: #ff0000;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav .dropdown-menu {
  background: #ffffff;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav .dropdown-menu li a {
  color: #000;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav .dropdown-menu li a:after {
  background: #ff0000;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav .dropdown-menu li a:hover,
.header-style4 .header-bottom .navbar-expand-md .navbar-nav .dropdown-menu li a:focus {
  color: #ff0000;
}
.header-style4 .header-bottom .navbar {
  position: relative;
  z-index: auto;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav li .nav-link {
  color: #ffffff;
}
.header-style4 .header-bottom .navbar-expand-md .navbar-nav li .nav-link ul li .nav-link-circle {
  background: #ffffff;
}