/* DEFAULT NAVBAR STYLES */
.navbar {
  padding: 0;
  margin-top: 6px;
  transition: .3s;
}
.navbar-collapse {
  margin-left: 13px;
  padding: 14px 0 0;
}
.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none !important;
  background: #000;
  border-radius: 0;
  transition: .3s;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #ff0000;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
}
.navbar-toggler span + span + span {
  width: 10px;
}
.navbar-toggler-invert {
  background: #ffffff;
}
.navbar .lnr-menu {
  display: none;
}
.navbar-expand-md .navbar-nav li {
  position: relative;
}
.navbar-expand-md .navbar-nav li:not(:last-child) {
  margin-right: 52px;
}
.navbar-expand-md .navbar-nav li .nav-link {
  padding: 20px 0;
  display: block;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: .3s;
  font-size: 13px;
  text-transform: uppercase;
}
.navbar-expand-md .navbar-nav li .nav-link ul {
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10px;
  text-align: center;
  transition: .3s;
  opacity: 0;
  overflow: hidden;
}
.navbar-expand-md .navbar-nav li .nav-link ul li {
  display: inline-block;
  vertical-align: middle;
}
.navbar-expand-md .navbar-nav li .nav-link ul li:not(:last-child) {
  margin-right: 3px;
}
.navbar-expand-md .navbar-nav li .nav-link ul li .nav-link-circle {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #ff0000;
  transition: 0.3s ease-out;
}
.navbar-expand-md .navbar-nav li .nav-link ul li .nav-link-circle-f {
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
.navbar-expand-md .navbar-nav li .nav-link ul li .nav-link-circle-s {
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.navbar-expand-md .navbar-nav li .nav-link ul li .nav-link-circle-t {
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.navbar-expand-md .navbar-nav li .nav-link:hover,
.navbar-expand-md .navbar-nav li .nav-link:focus {
  color: #ff0000;
}
.navbar-expand-md .navbar-nav li .nav-link:hover ul,
.navbar-expand-md .navbar-nav li .nav-link:focus ul {
  opacity: 1;
}
.navbar-expand-md .navbar-nav li .nav-link:hover ul li .nav-link-circle-f,
.navbar-expand-md .navbar-nav li .nav-link:focus ul li .nav-link-circle-f {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-expand-md .navbar-nav li .nav-link:hover ul li .nav-link-circle-s,
.navbar-expand-md .navbar-nav li .nav-link:focus ul li .nav-link-circle-s {
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.navbar-expand-md .navbar-nav li .nav-link:hover ul li .nav-link-circle-t,
.navbar-expand-md .navbar-nav li .nav-link:focus ul li .nav-link-circle-t {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-expand-md .navbar-nav li .nav-link.active ul {
  opacity: 1;
}
.navbar-expand-md .navbar-nav li .nav-link.active ul li .nav-link-circle-f {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-expand-md .navbar-nav li .nav-link.active ul li .nav-link-circle-s {
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.navbar-expand-md .navbar-nav li .nav-link.active ul li .nav-link-circle-t {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-expand-md .navbar-nav li .dropdown-toggle {
  padding: 20px 12px 20px 0;
}