div.home {
  background-size: cover;
  background: url('/assets/img/home_hero.jpg') no-repeat center center;
  min-height: 100%;

  @include breakpoint(mobileonly){
    background-image: none;
    background-color: black;
  }
}