.searchWidget {
  width: 100%;
  height: auto;
  border-bottom: 1px $primary-color solid;

  .locationSearch {
    display: inline;

    .google-covert {
      position: absolute;
      background: white;
      width: 100%;
      z-index:1
    }
  }
    .rdr-DateRange {
    position: absolute;
    top: 0;
    border: 1px $dark-grey solid;
  }


  .inputWrap {
    display: inline-block;
    padding: 0 2rem;
    margin: 1rem 1rem 1rem 0;
    position: relative;
    width: auto;
    .location-box {
      width: 340px;
    }

    input, select {
      color: black;
      font-size: 1.4rem;
      padding: 0.5rem;
    }

    label {
      margin: 0 2rem 0 0;
    }



    .rdr-DateRange {
      position: absolute;
      top: 160px;
    }
  }
}